# ignore data files
training
data
debugging
debugging*
omg.py

# ignore results
results

# ignore pycache
__pycache__

# ignore saved model
*.pkl
*.pt

# ignore vscode
.vscode

# ignore checklen
checklen.py
